# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Env
.env
client/.env
server/.env

# Build
client/dist/
server/dist/

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Large Datasets (>100MB)
data/Amazon-Products.csv
